In [150]:
import numpy as np

## Q#1: Create x array with elements equal to 1.

In [152]:
# write your code here ^_^
x = np.ones(6)
x

array([1., 1., 1., 1., 1., 1.])

## Q#2: Create y array with elements equal to 0.

In [154]:
# write your code here ^_^
y = np.zeros(6)
y

array([0., 0., 0., 0., 0., 0.])

## Q#3: Add x and y arrays.

In [156]:
# write your code here ^_^
x_y = x+y
x_y

array([1., 1., 1., 1., 1., 1.])

## Q#4: Print x array characteristics (e.g: dimension, shape, size, type).

In [158]:
# write your code here ^_^
x.shape , x.ndim, x.size, type(x), x.dtype

((6,), 1, 6, numpy.ndarray, dtype('float64'))

## Q#5: Create a 2D array "called w" as the following:

|       |          |
| ----- | -------- |
| 11    | 12       |
| 13    | 14       |
| 15    | 16       |

In [160]:
# write your code here ^_^
w = np.array([[11,13,15],[12,14,16]])
w

array([[11, 13, 15],
       [12, 14, 16]])

## Q#6: Create z array contains the numbers from 1 to 3.

In [162]:
# write your code here ^_^
z = np.array([1,2,3])
z

array([1, 2, 3])

## Q#7: Combine the arrays z and w in horizontal way then save it in a new variable "newArray".

In [164]:
# write your code here ^_^
# as of different number of dimension, I Vertically stack the array z with itself which transforms z into a 2D array with 2 identical rows
z=np.vstack((z,z))
newArray= np.hstack((z,w))
newArray

array([[ 1,  2,  3, 11, 13, 15],
       [ 1,  2,  3, 12, 14, 16]])

## Q#8: Print all elements of "newArray" using the loop.

In [166]:
# write your code here ^_^
for x in newArray:
    print(x)

[ 1  2  3 11 13 15]
[ 1  2  3 12 14 16]

## Q#9: Reverse the columns and rows of "newArray".

In [168]:
# write your code here ^_^
newArray[::-1, ::-1]

array([[16, 14, 12,  3,  2,  1],
       [15, 13, 11,  3,  2,  1]])

## Q#10: Decrement all elements of "newArray" with 1.

In [170]:
# write your code here ^_^
newArray-1

array([[ 0,  1,  2, 10, 12, 14],
       [ 0,  1,  2, 11, 13, 15]])

## Q#11: Find smallest and biggest values in "newArray".

In [172]:
# write your code here ^_^
min, max = newArray.min(), newArray.max()
min, max

(1, 16)

## Q#12: Print the first row of "newArray" using indexing.

In [174]:
# write your code here ^_^
print(newArray[0])

[ 1  2  3 11 13 15]

## Q#13: Print the number equals 12 of "newArray" using indexing.

In [176]:
# write your code here ^_^
print(newArray[1][3])

12

## Q#14: Print the numbers equal 0 and 13 of "newArray" using indexing.

In [178]:
# write your code here ^_^
#using if incase the number is not in the array
if 0 in newArray:
    print(newArray[newArray==0])
if 13 in newArray:
    print(newArray[newArray==13])
print()

[13]

## Q#15: Change the shape of "newArray" to (9,1).

In [180]:
# write your code here ^_^
#As the array size is 12 we can't reshape it to an array sized 9, to solve this I turn the 2D to 1D array  then I select the first 9 elements 
np.ravel(newArray)[:9].reshape(9,1)

array([[ 1],
       [ 2],
       [ 3],
       [11],
       [13],
       [15],
       [ 1],
       [ 2],
       [ 3]])

## Q#16: Change the shape of "newArray" to (3,2).

In [183]:
# write your code here ^_^
#As the array size is 12 we can't reshape it to an array sized 6, to solve this I turn the 2D to 1D array  then I select the first 6 elements 
np.ravel(newArray)[:6].reshape(3,2)

array([[ 1,  2],
       [ 3, 11],
       [13, 15]])

# Well Done 🎉